@keyframes box_rotate {
  from {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(80deg);
  }
  50% {
    transform: rotate(160deg);
  }
  75% {
    transform: rotate(280deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes box_scale {
  form {
    top: 0%;
  }
  50% {
    top: 25%;
  }
  75% {
    top: 60%;
  }
  to {
    top: 50%;
  }
}

@keyframes songs_top_bottom {
  form {
    top: -20%;
  }
  50% {
    top: -10%;
  }
  75% {
    top: -5%;
  }
  to {
    top: 0%;
  }
}
/*@keyframes Aside_open {*/
/*  form {*/
/*    width: 0px;*/
/*  }*/
/*  25% {*/
/*    width: 50px;*/
/*  }*/
/*  50% {*/
/*    width: 100px;*/
/*  }*/
/*  75% {*/
/*    width: 150px;*/
/*  }*/
/*  to {*/
/*    width: 200px;*/
/*  }*/
/*}*/
/*@keyframes Aside_close {*/
/*  form {*/
/*    width: 200px;*/
/*  }*/
/*  25% {*/
/*    width: 150px;*/
/*  }*/
/*  50% {*/
/*    width: 50px;*/
/*  }*/
/*  75% {*/
/*    width: 25px;*/
/*  }*/
/*  to {*/
/*    width: 0px;*/
/*  }*/
/*}*/
